
$primary: #004F4D;
$secondary: #1F2024;
$third: #4B4952;
$fourth: #79717A;
$sixth: #A68F97;


$primary-alternative: #3A8C75;
$secondary-alternative: #A67841;
$third-alternative: #401A0D;
$fourth-alternative: #F2F2F2;
$fifth-alternative: #0D0D0D;
